Source: libnss-pgsql
Section: admin
Priority: extra
Maintainer: Debian Nss/Pgsql Developers <nsspampgsql-devel@lists.alioth.debian.org>
Uploaders: Christian Bayle <bayle@debian.org>, Stephen Gran <sgran@debian.org>, Martin Krafft <madduck@debian.org>, Jan Dittberner <jandd@debian.org>
Build-Depends: debhelper (>= 7.0.50~), libpq-dev, debiandoc-sgml, xmlto
Standards-Version: 3.9.1
Homepage: https://alioth.debian.org/projects/nsspampgsql/
Vcs-Git: git://git.debian.org/nsspampgsl/nsspampgsql.git
Vcs-Browser: http://git.debian.org/?p=nsspampgsql/nsspampgsql.git

Package: libnss-pgsql2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libnss-pgsql1
Replaces: libnss-pgsql1
Provides: libnss-pgsql1
Suggests: nscd, libpam-pgsql
Description: NSS module for using PostgreSQL as a naming service
 This module works as a replacement for the flat file databases /etc/passwd,
 /etc/group etc. It is a plugin to glibc's name service switch.
 .
 The module uses tables in a PostgreSQL database to store user, group, and
 shadow information. The module can be configured to use custom queries to
 retrieve it's information from a database. The module allows to separate the
 configuration for shadow information from group and user information to
 restrict access to shadow information to privileged users (i.e. root or the
 shadow group).
