#!/usr/bin/make -f

override_dh_auto_configure:
	./configure \
		--prefix=/usr \
		--libdir=/lib \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info \
		--with-docdir=\$${prefix}/share/doc/libnss-pgsql2 \
		--sysconfdir=/etc

override_dh_auto_clean:
ifeq (Makefile, $(wildcard Makefile))
	$(MAKE) distclean
endif

override_dh_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/libnss-pgsql2
	rm -f $(CURDIR)/debian/libnss-pgsql2/lib/libnss_pgsql.la
	rm -f $(CURDIR)/debian/libnss-pgsql2/lib/libnss_pgsql.a
	rm -f $(CURDIR)/debian/libnss-pgsql2/lib/libnss_pgsql.so

%:
	dh $@
